*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body{
    font-family: montserrat;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    background: #1F2544;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #F1FADA;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.ibrahim-class-row::after {
    content: "";
    clear: both;
    display: block;
}

.ibrahim-class-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .ibrahim-class-menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #EEA5A6;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .ibrahim-class-menu li:hover {
    background-color: #9AD0C2;
    transition: .5s
  }

.ibrahim-class-logo{
    color: #F1FADA;
    font-family: "Lucida Sans", sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.ibrahim-class-desc{
    color:#F1FADA;
    font-family: "Lucida Sans", sans-serif;
    font-size: 15px;
    line-height: 40px;
    padding: 0;
    font-weight: bold;
}

a.ibrahim-class-active, a:hover{
background: #9AD0C2;
transition: .5s;
}

.ibrahim-class-footer {
    background-color: #EEA5A6;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 25px;
    margin-top: 118px;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

@media (max-width: 952px){
    label.ibrahim-class-logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}




